%main.container.general-main-wrap
  %h1.mt-0.mb-25= t('couriers')
  = link_to 'New courier', new_courier_path, class: "btn btn-primary"
  .visible-xs
    - if !Courier.exists?
      .jumbotron.text-center.mb-0
        %p= t('no_couriers')
    - else
      = render partial: 'courier_list_xs', collection: @couriers
      - if @pagy.pages > 1
        .text-center
          = render partial: 'pagy/nav', locals: { pagy: @pagy }
  .hidden-xs.mb-res-50
    - if !Courier.exists?
      .jumbotron.text-center.mb-0
        %p= t('no_couriers')
    - else
      %table.table.table-hover
        %thead
          %tr
            %th
              %span.in-grey-600= t('name')
            %th
              %span.in-grey-600= t('settings')
        %tbody
          = render partial: 'courier_list', collection: @couriers
      - if @pagy.pages > 1
        .text-center
          = render partial: 'pagy/nav', locals: { pagy: @pagy }
